<div>
  <table class="table table-bordered table-condensed">
    <thead>
    <tr>
      <th>Player</th>
      <th>Position</th>
      <th>FantasyPoints</th>
      <th>Touchdowns</th>
      <th>ReceivingYards</th>
    </tr>
    </thead>
    <tbody>
    <% @data.each do |player| %>
        <tr>
          <td><%= player['Name'] %></td>
          <td><%= player['FantasyPosition'] %></td>
          <td><%= player['FantasyPoints'] %></td>
          <td><%= player['Touchdowns'] %></td>
          <td><%= player['ReceivingYards'] %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>